
.pokeyoung-imagen {
	text-align: center;
	width: 100%;
}

h1 {
    padding-top: 30px;
}

.h1 img {	
	width: 100%;	
}

.box-input {
	height: 55px;
	border: #51aeca 3px solid;
	/* text-align: center; */
}

.align-btn1-input {
	display: flex;
}



@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

@keyframes acelerate{
	from {
		transform: translateX(-700px) scaleX(-1);
	}
	to {
		transform: translateX(700px) scaleX(-1);
		
	}
}



.btn1 {
	
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    border: 2px solid #ff8b07;
    color: white;
    cursor: pointer; 
    background: linear-gradient(to right, transparent 50%, #ff8b07 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
}

@media (max-width: 480px){
    .btn1 {
		/* padding: 15px 25px; */
		margin:10px;
		/* font-size: 16px;
		border: 2px solid #ff8b07;
		color: white;
		cursor: pointer; 
		background: linear-gradient(to right, transparent 50%, #ff8b07 50%);
		background-size: 200%;
		background-position: left;
		transition: background-position 0.5s; */
	}
    }


.btn1:hover {	
    background-position: right;
    color: black;
    font-weight: 700;
}

