.container {
	display: flex;
    flex-direction: column ;    
    align-items: center;
	
	width: 100vw;
	height: 100vh;
   
	
}

.h1 {	
	color:  rgb(21, 0, 90);
	text-decoration: none;   
}


@media (max-width: 480px){
    .container {                       
        justify-content: center; 
		text-align: center;
    }
}

.box-input {
	height: 55px;
	border: #51aeca 3px solid;

}

.input {
	display: flex;
	align-items: center;
	
}

.circle {
	
	z-index: -1;
	-webkit-animation: 3s linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
	
}

.circle {
	position:relative;
	right:-0px;
	top: -250px;

	/* animation: acelerate 5s infinite forwards; */
}


@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

@keyframes acelerate{
	from {
		transform: translateX(-700px) scaleX(-1);
	}
	to {
		transform: translateX(700px) scaleX(-1);
		
	}
}

.animate-bg:before, .animate-bg:after {	
	content: '';
	position: absolute;
	left: -8px;
	top: -8px;
	background: linear-gradient(120deg, #cbf7a2, #ea99f5, #8596fa,#f16e95,  
	#cc6394, #fa8dcd,#f3a774, #7ce0f1,#f7f773, #51aeca);
	background-size: 300%;
	width: calc(100vw + 16px);
	height: calc(100% + 16px);
	z-index: -5;
	animation: BGgradient 15s ease infinite; 
	
}

@keyframes BGgradient {
	0% {
		background-position: 0% 200%;
	}
	50% {
		background-position: 200% 0%;
	}
	100% {
		background-position: 0% 330%;
	}
}

.animate-bg:after {
	filter: brightness(1.4);
	filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
	filter: blur(15px);
}

.btn1 {
	
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    border: 2px solid #ff8b07;
    color: white;
    cursor: pointer; 
    background: linear-gradient(to right, transparent 50%, #ff8b07 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
}

@media (max-width: 480px){
    .btn1 {
		/* padding: 15px 25px; */
		margin:10px;
		/* font-size: 16px;
		border: 2px solid #ff8b07;
		color: white;
		cursor: pointer; 
		background: linear-gradient(to right, transparent 50%, #ff8b07 50%);
		background-size: 200%;
		background-position: left;
		transition: background-position 0.5s; */
	}
    }


.btn1:hover {	
    background-position: right;
    color: black;
    font-weight: 700;
}
